<% provide(:title, 'フォロー一覧') %>

<div class='row'>
  <div class='col-md-10 col-md-offset-1'>
    <div class='page-title'>
      <h1>フォロー一覧</h1>
    </div>
    <div id='following-table'>
      <%= render 'following' %>
    </div>
  </div>
</div>