<% if object.errors.any? %>
  <div id='error_explanation'>
    <div class='alert alert-danger'>
      <%= object.errors.count %>つの間違いがあります。
    </div>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>