@import 'bootstrap-sprockets';
@import 'bootstrap';

/* mixins, variables, etc */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 30px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 5px
}

ul {
  list-style: none;
}

.alert {
  margin: 0 auto;
  width: 90%;
}

.page-title {
  padding-top: 30px;
  padding-bottom: 50px;
}

.pagination-top {
  margin-top: 0;
}

.flash {
  padding-top: 30px;
}

#post-btn {
  font-size: 25px;
  padding: 7px;
  border-radius: 50%;
  background-color: #58BF3F;
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: none;
}

/* typograph */

h1 {
  font-size: 40px;
  margin: 20px 0;
  text-align: center;
  font-family: 'Avenir', 'Corbel', 'Osaka', 'MS Pゴシック';
}

h2 {
  font-size: 25px;
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  padding-bottom: 20px;
}

p {
  padding-bottom: 10px;
}

/* header */

#logo {
  float: left;
  font-size: 24px;
  color: white;
  padding-top: 9px;
  font-weight: bold ;
  &:hover {
    text-decoration: none;
  }
}

#mobile-nav {
  display: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #fff;
  color: #777
}

footer small {
  float: left;
}

footer ul {
  float: right;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

/* help */

.help-heading {
  padding-top: 60px;
  text-align: center;
  h1, h3 {
    padding-bottom: 20px;
  }
  img {
    padding-bottom: 20px;
  }
}

.login-btn {
  background-color: #55acee;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    opacity: 0.9;
  }
}

.fa-twitter {
  margin-right: 3px;
}

/* form */

input, textarea, select, .uneditable-input {
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  border-radius: 4px;
  @include box-sizing
}

.btn {
  width: 30%;
  display: block;
  margin: 0 auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin-bottom: 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-date {
  width: 40%;
  display: block;
  margin-bottom: 30px;
}

.form-hour {
  width: 40%;
  margin-right: 5px;
}

.form-minute {
  width: 40%;
  margin-right: 5px;
  margin-left: 10px;
}

/* index */

.top-page-title {
  padding-bottom: 20px;
}

.users {
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
  }
}

.btn-field {
  padding: 30px 0;
  text-align: center;
}

.change-btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #dff0d8;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background-color: #62c462;
}

#weekly-table, #yesterday-table {
  display: none;
}

.search-form {
  width: 50%;
  padding-bottom: 30px;
  float: right;

  .search-input-group {
    width: 50%;
    float: right;

    input {
      width: 75%;
      margin: 0;
      display: inline-block;
    }

    .btn {
      width: 23%;
      margin: 0;
    }
  }
}

/* table */

table {
  border-collapse: collapse;
  width: 100%;

  th {
    padding-bottom: 10px;
  }
  td {
    border: solid 1px #eaeaea;
    padding: 20px;
    overflow: auto;
  }
}

.table-edit {
  padding: 10px;
}

/* user profile */

.user-profile {
  width: 50%;
  padding-top: 50px;
  text-align: left;
  float: left;
}

.total-working_times {
  padding: 50px 0;
  float: right;
}

.user-description {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.follow-form {
  display: inline-block;
}

.follow-btn {
  width: 100%;
  padding: 5px 8px;
  margin-left: 5px;
}

.clear {
  clear: both;
}

.tweet-btn {
  padding-bottom: 15px;
  float: left;
  .tweet-label {
    padding-bottom: 5px;
  }
}

#user-posts-mobile {
  display: none;
}

@media screen and (max-width:768px){

  #pc-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
    float: right;
    .mobile-gloval-nav {
      float: left;
    }

    .fa-bars {
      font-size: 20px;
    }
  }

  .help-heading img {
    width: 90%;
  }

  #post-btn {
    display: block;
  }

  .user-description {
    width: 100%;
  }

  .search-form {
    display: none;
  }

  .table-memo {
    display: none;
  }

  #user-posts-pc {
    display: none;
  }

  #user-posts-mobile {
    display: block;
  }
}

@media screen and (max-width:1024px){

  #pc-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
    float: right;
    .mobile-gloval-nav {
      float: left;
    }
    .fa-bars {
      font-size: 20px;
    }
  }

  .help-heading img {
    width: 90%;
  }

  #post-btn {
    display: block;
  }

  .user-description {
    width: 100%;
  }

  .search-form {
    display: none;
  }

  .table-memo {
    display: none;
  }

  #user-posts-pc {
    display: none;
  }

  #user-posts-mobile {
    display: block;
  }
}
