<footer class='footer'>
  <small>&copy; 2018 あかしぃ</small>
  <nav>
    <ul>
      <li><%= link_to 'ブログろぐとは？', help_path %></li>
      <li><%= link_to '運営者', 'https://twitter.com/akashi__akashi?lang=ja', :target=>['_blank'] %></li>
    </ul>
  </nav>
</footer>