<footer class='footer'>
  <small>
    <%= link_to 'ブログろぐ！', root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to '概要', '#' %></li>
      <li><%= link_to '運営者', '#' %></li>
    </ul>
  </nav>
</footer>